API_ID=21696829
API_HASH=c0e23cf3dfa118239951a88bd0f4c6b7
BOT_TOKEN=8130109220:AAHSVKO3Msj06KCrBZLy5GzO9EKXw4KfpI8
LOGGER_ID=-1002610492102
API_KEY=NxGBNexGenBots5b2d9a
MONGO_DB_URI=mongodb+srv://carofo7264:carofo7264@cluster0.s2ptcja.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=7569863273
STRING_SESSION=AQFLET0AOqrIJ5gFQWI5Ioqiiraee9FXJ_VQqOdvGmLndx-hrrnXEspuN9WdfvLK1uaJQygU6efl99agzTXQs3LoAHP4C_Xg-t-aYXeS_m0qbvpcrt5N0U8GsHB7PijPuJU8b1GvC7dbDQCcBe9-yhZptSL7MWGwexa6SJVAmKlfHkRQvxGhWXcujQU5YowzZC32BC43GNexbSxMBkbMMN7i0_U9RS-8GYpcw-INZYem9NllVvDqGRsnhfeqvA8cVk118u8mP5mdz9yBhBAzbIS7vt0RSzVnlX9-1BgUq9hF_BnaYAaa4rX5Cd0o_X9Qgg8_sVA-HnEWSSG3FyGtAEgTaYYcJQAAAAHhrzExAA
